DEBUG=True
ALLOWED_HOSTS=localhost
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
ADMIN_BOOTSTRAP_TOKEN="my-secret-key"
EMAIL_KEY="email_verification_key"
EMAIL_PASSWORD="your_16_digit_app_password"
EMAIL_ADDRESS="your_email@gmail.com"
SESSION_SECRET="your-session-management-secret"
ACCESS_SECRET="your-access-management-secret"