

#auth secrets
ACCESS_SECRET="your-access-management-secret"
ADMIN_BOOTSTRAP_TOKEN="my-secret-key"
EMAIL_KEY="email_verification_key"
EMAIL_PASSWORD="your_16_digit_app_password"
EMAIL_ADDRESS="your_email@gmail.com"
SESSION_SECRET="your-session-management-secret"


#bucket secrets
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"


#db secrets
DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASSWORD=your_percent_encoded_password_here
DB_PORT=your_db_port

#environment secrets
DEBUG=True
ENVIRONMENT=development
HOST=http://localhost


#Inference secrets
BASE_URL="api_base_url"
DEFAULT_MODEL="AI_model"
MAX_TOKENS="token_limit"
OPENROUTER_API_KEY="openrouter_api_key"
TEMPERATURE=0.8
TIMEOUT="api_gateway_timeout"
