CLOUDINARY_API_KEY=your-cloudinary-api-key
DEBUG=True
ALLOWED_HOSTS=localhost
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
ADMIN_BOOTSTRAP_TOKEN=my-secret-key